# Colors
BACKGROUND_COLOR=#102529
FOREGROUND_COLOR=#e4e4e4
BORDER_COLOR=#95CEDA
BORDER_FOCUS_COLOR=#FF9F77
TITLE_COLOR=#EBEBEB

# Border Characters
# BORDER_TOP_LEFT="┌"
# BORDER_TOP_RIGHT="┐"
# BORDER_BOTTOM_LEFT="└"
# BORDER_BOTTOM_RIGHT="┘"
# BORDER_HORIZONTAL="─"
# BORDER_VERTICAL="│"

# Focused Border Characters
# BORDER_TOP_LEFT_FOCUS="┌"
# BORDER_TOP_RIGHT_FOCUS="┐"
# BORDER_BOTTOM_LEFT_FOCUS="└"
# BORDER_BOTTOM_RIGHT_FOCUS="┘"
# BORDER_HORIZONTAL_FOCUS="─"
# BORDER_VERTICAL_FOCUS="│"


# Border Characters (Rounded)
BORDER_TOP_LEFT="╭"
BORDER_TOP_RIGHT="╮"
BORDER_BOTTOM_LEFT="╰"
BORDER_BOTTOM_RIGHT="╯"
BORDER_HORIZONTAL="─"
BORDER_VERTICAL="│"

# Focused Border Characters (Rounded)
BORDER_TOP_LEFT_FOCUS="╭"
BORDER_TOP_RIGHT_FOCUS="╮"
BORDER_BOTTOM_LEFT_FOCUS="╰"
BORDER_BOTTOM_RIGHT_FOCUS="╯"
BORDER_HORIZONTAL_FOCUS="─"
BORDER_VERTICAL_FOCUS="│"

